@import "../../../global.css";

.nav {
  display: flex;
  width: 20%;
  font-size: 1.5rem;
}

.navlink {
  text-decoration: none;
  width: 50%;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-right: 3%;
}

.navlink.active span {
  color: var(--nav-text-active);
}

.navlink.active.dark span {
  color: var(--nav-text-active-dark);
}

nav span {
  color: var(--background-color-dark);
  transition: 0.5s;
}
nav span:hover {
  color: var(--nav-text-active);
  letter-spacing: 0.8px;
}

.nav.dark span {
  color: white;
  transition: 0.5s;
}

.nav.dark span:hover {
  color: var(--nav-text-active-dark);
  letter-spacing: 0.8px;
}

@media screen and (min-width: 2500px) {
  .nav {
    width: 25%;
    font-size: 1.9rem;
    margin-right: 10%;
  }

  .nav a {
    border-radius: 10px;
    padding: 7px;
  }
}

@media screen and (max-width: 820px) {
  .nav {
    width: 25%;
    font-size: 1.6rem;
  }

  .nav a {
    width: 70%;
    padding: 7px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 700px) {
  .nav {
    width: 30%;
    font-size: 1.4rem;
    margin-left: 3%;
    margin-right: 3px;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    width: 30%;
    font-size: 1.2rem;
    margin-right: 5px;
  }

  .nav a {
    margin-right: 5px;
  }
}

@media screen and (max-width: 390px) {
  .nav {
    width: 40%;
    font-size: 1.2rem;
    margin-left: -3%;
  }

  .nav a {
    text-decoration: none;
    width: 50%;
    border: 2px solid rgb(113, 112, 112);
    border-radius: 5px;
    padding: 5px 3px 5px 3px;
    text-align: center;
    margin-right: 5px;
  }

  .nav.dark a {
    border: 2px solid rgb(93, 92, 92);
  }
}
