@import "../../../global.css";

.banner {
  width: 100%;
  height: 600px;
  background-image: url("../../../images/Banner2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid var(--section-border-dark);
}

.banner_top_space {
  height: 20vh;
  font-size: 5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(243, 89, 89, 0.629);
}

@media screen and (min-width: 2500px) {
  .banner {
    height: 800px;
    background-size: cover;
    background-position: top;
    border-bottom: 4px solid var(--section-border-dark);
  }

  .banner_top_space {
    height: 16vh;
    font-size: 7.5rem;
    color: rgba(235, 116, 110, 0.629);
  }
}

@media screen and (max-width: 820px) {
  .banner {
    width: 100%;
    height: 450px;
    background-position: top;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid var(--section-border-dark);
  }

  .banner_top_space {
    height: 14vh;
    font-size: 4.5rem;
    font-weight: 600;
    align-items: flex-start;
    color: rgba(243, 89, 89, 0.629);
    margin-top: 4%;
  }
}

@media screen and (max-width: 390px) {
  .banner {
    width: 100%;
    height: 400px;
    background-position: top;
    position: relative;
    overflow: hidden;
  }

  .banner_top_space {
    height: 25vh;
    font-size: 3rem;
    align-items: flex-start;
    color: rgba(252, 84, 38, 0.629);
    margin-top: 8%;
    margin-bottom: -20%;
  }
}
