@import "../../../global.css";

.header_select {
  width: 8%;
  height: 50%;
  margin-right: 25px;
  background-color: var(--background-color);
  color: #222222;
  font-size: 1.1rem;
  border-color: #8c8c8d;
  border-radius: 10px;
  text-align: center;
}

.header_select.dark {
  background-color: var(--background-color-dark);
  border-color: #373736;
  color: white;
  transition: 0.5s;
}

.header_select:hover {
  color: #075782;
  letter-spacing: 0.7px;
}

.header_select.dark:hover {
  color: var(--nav-text-active-dark);
  letter-spacing: 0.7px;
}

.header_select option {
  background-color: var(--background-color);
  color: #242423;
  font-size: 1.2rem;
}

.header_select.dark option {
  background-color: #363631;
  color: white;
  font-size: 1.2rem;
}

@media screen and (min-width: 2500px) {
  .header_select {
    width: 10%;
    height: 43%;
    font-size: 1.6rem;
    border-radius: 10px;
  }

  .header_select option {
    width: 5%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 820px) {
  .header_select {
    width: 14%;
    height: 46%;
    margin-right: 15px;
    margin-left: 20px;
    font-size: 1.3rem;
    border: 3px solid rgb(94, 94, 94);
  }
}

@media screen and (max-width: 700px) {
  .header_select {
    width: 16%;
    min-width: 70px;
    height: 48%;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 1.2rem;
    border: 2px solid rgb(94, 94, 94);
  }
}

@media screen and (max-width: 500px) {
  .header_select {
    margin-right: 3px;
    margin-left: 10px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 390px) {
  .header_select {
    width: 17%;
    height: 48%;
    margin-right: 5px;
    margin-left: -10px;
    font-size: 0.9rem;
    padding: 1px;
    border: 2px solid rgb(94, 94, 94);
  }
}
