/*left part of ticker page*/
@import "../../../global.css";

.ticker_page_info {
  width: 30%;
  border-right: 1px solid gray;
}

.ticker_page_info h1 {
  font-size: 4rem;
  padding-top: 5%;
  color: var(--text-color);
}

.ticker_page_info.dark h1 {
  font-size: 4rem;
  padding-top: 5%;
  color: #b8b8b8;
}

.ticker_page_company_description {
  color: var(--text-color);
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  text-align: justify;
  text-indent: 10%;
  text-shadow: 5px 5px 8px #c1c2c1;
  line-height: 120%;
  text-overflow: inherit;
  letter-spacing: 1px;
}

.ticker_page_company_description.dark {
  color: rgb(205, 205, 205);
  text-shadow: none;
}

@media screen and (min-width: 2500px) {
  .ticker_page_info {
    border-right: 2px solid gray;
  }

  .ticker_page_info h1 {
    font-size: 8rem;
  }

  .ticker_page_info.dark h1 {
    font-size: 8rem;
  }

  .ticker_page_company_description {
    margin-right: 2%;
    padding: 20px;
    font-size: 2.2rem;
    line-height: 130%;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1200px) {
  .ticker_page_info h1 {
    font-size: 3rem;
  }

  .ticker_page_info.dark h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .ticker_page_info {
    width: 100%;
    border-right: none;
    margin-top: 1%;
  }

  .ticker_page_info h1 {
    font-size: 2.8rem;
  }

  .ticker_page_info.dark h1 {
    font-size: 2.8rem;
  }

  .ticker_page_company_description {
    font-size: 18px;
    letter-spacing: 0.7px;
  }
}

@media screen and (max-width: 700px) {
  .ticker_page_info {
    margin: 7% 0 -1% 0;
    width: 100%;
  }

  .ticker_page_info h1 {
    font-size: 3rem;
  }

  .ticker_page_info.dark h1 {
    font-size: 3rem;
  }

  .ticker_page_company_description {
    font-size: 18px;
    text-indent: 40px;
  }
}

@media screen and (max-width: 412px) {
  .ticker_page_info {
    margin-top: 10%;
    width: 100%;
  }

  .ticker_page_info h1 {
    font-size: 2.5rem;
  }

  .ticker_page_info.dark h1 {
    font-size: 2.5rem;
  }

  .ticker_page_company_description {
    font-size: 18px;
    text-indent: 40px;
  }
}

@media screen and (max-width: 390px) {
  .ticker_page_info {
    margin-top: -20%;
    width: 100%;
  }

  .ticker_page_info h1 {
    margin-top: -10%;
    font-size: 2.5rem;
  }

  .ticker_page_info.dark h1 {
    font-size: 2.5rem;
  }

  .ticker_page_company_description {
    font-size: 16px;
    text-indent: 40px;
  }
}
