@import "../../../../global.css";

.tickers_price_info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.tickers_price_info.dark {
  background-color: var(--background-color-dark);
}

.tickers_price_info_headings {
  display: flex;
  min-height: 12%;
  margin: 20px 0 27px 0;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #8bb6fc;
  border-top: 2px solid rgb(216, 192, 83);
  border-bottom: 2px solid rgb(216, 192, 83);
}

.tickers_price_info_headings.dark {
  background-color: #d7c025;
  border-top: 2px solid var(--section-border-dark);
  border-bottom: 2px solid var(--section-border-dark);
}

.tickers_price_info_headings p {
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
}

.first_p {
  display: flex;
  width: 25%;
  padding-right: 5%;
}

.next_p {
  display: flex;
  width: 20%;
}

.no_tickers_paragraph {
  font-size: 1.7rem;
  color: #111110;
  padding: 2% 20%;
  text-align: center;
}

.no_tickers_paragraph.dark {
  color: #f8f8f0;
}

@media screen and (min-width: 2500px) {
  .tickers_price_info_headings {
    font-size: 3rem;
    min-height: 8%;
    border-top: 3px solid rgb(216, 192, 83);
    border-bottom: 3px solid rgb(216, 192, 83);
  }

  .tickers_price_info_headings.dark {
    border-top: 3px solid var(--section-border-dark);
    border-bottom: 3px solid var(--section-border-dark);
  }

  .no_tickers_paragraph {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1200px) {
  .tickers_price_info_headings {
    min-height: 12%;
    font-size: 1.4rem;
  }

  .no_tickers_paragraph {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 820px) {
  .tickers_price_info {
    width: 75%;
  }

  .tickers_price_info_headings {
    margin: 20px 0 20px 0;
    padding: 3px 0;
    font-size: 1.3rem;
  }

  .tickers_price_info_headings p {
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
  }

  .first_p {
    display: flex;
    width: 27%;
  }

  .next_p {
    display: flex;
    width: 20%;
  }

  .no_tickers_paragraph {
    font-size: 1.3rem;
    padding: 1% 10%;
  }
}

@media screen and (max-width: 750px) {
  .tickers_price_info {
    width: 100%;
  }
}

@media screen and (max-width: 412px) {
  .tickers_price_info {
    width: 100%;
  }

  .tickers_price_info_headings {
    margin: 20px 0 30px 0;
    padding: 7px 0;
    font-size: 1rem;
    font-weight: 600;
  }

  .first_p {
    display: flex;
    width: 35%;
  }

  .next_p {
    display: flex;
    width: 20%;
  }

  .no_tickers_paragraph {
    font-size: 1.1rem;
    padding: 0 10% 5% 10%;
  }
}
